<tr id="ligne_{{ prix.id }}">
  <td id="de_{{ prix.id }}" class="text-center">{{ prix.quantite }}</td>
  <td id="a_{{ prix.id }}" class="text-center">...</td>
  <td id="prix_{{ prix.id }}" class="text-center">{{ prix.prix }} €</td>
  <td id="actions_{{ prix.id }}" class="text-center">
    <div class="btn-group btn-group-xs">
      <button id="btnPrixMultipleDel_{{ prix.id }}" type="button" name="button" class="btn btn-danger">
        <span class="fa fa-trash-o"></span>
      </button>
    </div>
  </td>
</tr>
