{% extends '::layout.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/progest/js/vente.js')}}"></script>
{% endblock %}

{% block titre %}<span id="venteId" data="{{ vente.id }}"></span>Vente {{ vente.id }}{% endblock %}

{% block fil_ariane %}
    {{ parent() }}
    <li><a href="{{ path('ventes')}}">Ventes</a></li>
    <li class="active">{{ vente.id }}</li>
{% endblock %}

{% block toolbar %}
  {{ parent() }}
  <li>
    <button id="btnFactureShow" type="button" name="button" class="btn btn-default" title="Imprimer la facture">
      <span class="fa fa-print fa-fw"></span>
    </button>
  </li>
{% endblock %}

{% block content %}

  {% if boutique != null  and boutique.isActive == true %}
  <div class="row">
    <div class="col-md-offset-1 col-md-11">
      <div class="row">
        <div class="col-md-5">
          <table class="table table-striped table-bordered table-condensed">
              {% if vente.prenomClient %}
                <tr>
                  <th class="text-right">Prénom</th>
                  <th>{{ vente.prenomClient }}</th>
                </tr>
              {% endif %}
              {% if vente.nomClient %}
                <tr>
                  <th class="text-right">Nom</th>
                  <th>{{ vente.nomClient }}</th>
                </tr>
              {% endif %}
              {% if vente.adresseClient or vente.cpClient or vente.communeClient %}
                <tr>
                  <th class="text-right">Adresse</th>
                  <th>{{ vente.adresseClient }} - {{ vente.cpClient }} {{ vente.communeClient|upper }}</th>
                </tr>
              {% endif %}
              {% if vente.nbrArticles %}
                <tr>
                  <th class="text-right">Nombres d'articles</th>
                  <th>{{ vente.nbrArticles }}</th>
                </tr>
              {% endif %}
              {% if vente.totalVente %}
                <tr>
                  <th class="text-right">Montant total</th>
                  <th>{{ vente.totalVente|number_format(2) }} €</th>
                </tr>
              {% endif %}
              {% if vente.paymentMode %}
                <tr>
                  <th class="text-right">Mode de paiement</th>
                  <th>{{ vente.paymentMode }}</th>
                </tr>
              {% endif %}
          </table>
        </div>
      </div>

      <h3>Liste des produits</h3>

      <table class="table table-striped table-bordered table-condensed table-responsive">
        <thead>
          <tr>
            <th class="text-center">Référence</th>
            <th class="text-center">Désignation</th>
            <th class="text-center">Quantité</th>
            <th class="text-center">PU</th>
            <th class="text-center">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for variation in vente.variations %}
          <tr>
            <td class="text-center">{{ variation.article.reference }}</td>
            <td>{{ variation.article.nom }}</td>
            <td class="text-center">{{ variation.quantite * -1 }}</td>
            <td class="text-right">{{ variation.prixVente|number_format(2) }} €</td>
            <td class="text-right">{{ (variation.prixVente * (variation.quantite * -1))|number_format(2) }} €</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="border-no"></td>
            <th class="text-right">Nbr d'articles</th>
            <td class="text-right">{{ vente.variations|length }}</td>
          </tr>
          <tr>
            <td colspan="3" class="border-no"></td>
            <th class="text-right">Montant total</th>
            <td class="text-right">{{ vente.totalvente|number_format(2) }} €</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  {% else %}
    Vous n'avez pas l'autorisation d'accéder à cette page.
  {% endif %}

{% endblock %}
